{% extends 'base.html.twig' %}

{% block title %}Hello ConferenceController!{% endblock %}

{% block body %}
<h2>Give your feedback !</h2>

{% for conference in conferences %}
    <h4>{{ conference }}</h4>
{% endfor %}
{% endblock %}
